In [ ]:
# Install scikit-learn if not already installed
#Import libraries
import pandas as pd #For data manipulation and analysis
import os #For file and directory manipulation
import numpy as np #For numerical operations
import matplotlib.pyplot as plt #For data visualization
import seaborn as sns #For statistical data visualization
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder #For data preprocessing

In [5]:
# Define the file path
filepath = 'C:/Users/Bruce Mphekgwane\Downloads/archive/test.csv'  # Replace with the actual path to your CSV file

# Load the CSV file into a DataFrame
df_Test = pd.read_csv(filepath)

# Define the file path
filepath2 = 'C:/Users/Bruce Mphekgwane\Downloads/archive/train.csv'  # Replace with the actual path to your CSV file

# Load the CSV file into a DataFrame
df_Test2 = pd.read_csv(filepath)

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:8: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:8: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Bruce Mphekgwane\AppData\Local\Temp\ipykernel_40096\2223465588.py:2: SyntaxWarning: invalid escape sequence '\D'
  filepath = 'C:/Users/Bruce Mphekgwane\Downloads/archive/test.csv'  # Replace with the actual path to your CSV file
C:\Users\Bruce Mphekgwane\AppData\Local\Temp\ipykernel_40096\2223465588.py:8: SyntaxWarning: invalid escape sequence '\D'
  filepath2 = 'C:/Users/Bruce Mphekgwane\Downloads/archive/train.csv'  # Replace with the actual path to your CSV file

In [6]:
df_Test['dataset_name'] = 'test'
df_Test2['dataset_name'] = 'train'
# Concatenate the two DataFrames
df = pd.concat([df_Test, df_Test2], ignore_index=True)
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,dataset_name
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,test
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,test
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,test
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,test
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,test

#Initial features and data types

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            734 non-null    object
 1   Gender             712 non-null    object
 2   Married            734 non-null    object
 3   Dependents         714 non-null    object
 4   Education          734 non-null    object
 5   Self_Employed      688 non-null    object
 6   ApplicantIncome    734 non-null    int64
 7   CoapplicantIncome  734 non-null    int64
 8   LoanAmount         724 non-null    float64
 9   Loan_Amount_Term   722 non-null    float64
 10  Credit_History     676 non-null    float64
 11  Property_Area      734 non-null    object
 12  dataset_name       734 non-null    object
dtypes: float64(3), int64(2), object(8)
memory usage: 74.7+ KB

In [12]:
df_na = df.copy()
df_na = df_na.dropna()
df_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 578 entries, 0 to 733
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            578 non-null    object
 1   Gender             578 non-null    object
 2   Married            578 non-null    object
 3   Dependents         578 non-null    object
 4   Education          578 non-null    object
 5   Self_Employed      578 non-null    object
 6   ApplicantIncome    578 non-null    int64
 7   CoapplicantIncome  578 non-null    int64
 8   LoanAmount         578 non-null    float64
 9   Loan_Amount_Term   578 non-null    float64
 10  Credit_History     578 non-null    float64
 11  Property_Area      578 non-null    object
 12  dataset_name       578 non-null    object
dtypes: float64(3), int64(2), object(8)
memory usage: 63.2+ KB

In [13]:
# Count the number of rows for each gender
gender_counts = df['Gender'].value_counts()

# Display the counts
print(gender_counts)

Gender
Male      572
Female    140
Name: count, dtype: int64

In [15]:
# Impute missing values in the 'Gender' column with 'Male'
df['Gender'].fillna('Male', inplace=True)

C:\Users\Bruce Mphekgwane\AppData\Local\Temp\ipykernel_40096\1454027221.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna('Male', inplace=True)

In [17]:
# Count the number of rows for each gender
gender_counts = df['Gender'].value_counts()

# Display the counts
print(gender_counts)

Gender
Male      594
Female    140
Name: count, dtype: int64

In [19]:
# Explore the most frequent values for each column
columns_to_explore = ['Dependents', 'Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

for col in columns_to_explore:
    if df[col].dtype == 'object':  # For categorical columns
        print(f"Most frequent value in '{col}': {df[col].mode()[0]}")
    else:  # For numerical columns
        print(f"Most frequent value in '{col}' (approx.): {df[col].value_counts().idxmax()}")

Most frequent value in 'Dependents': 0
Most frequent value in 'Self_Employed': No
Most frequent value in 'LoanAmount' (approx.): 150.0
Most frequent value in 'Loan_Amount_Term' (approx.): 360.0
Most frequent value in 'Credit_History' (approx.): 1.0

In [20]:
# Impute missing values in the 'Dependents' column with '0'
df['Dependents'].fillna('0', inplace=True)

# Impute missing values in the 'Self_Employed' column with 'No'
df['Self_Employed'].fillna('No', inplace=True)

# Impute missing values in the 'LoanAmount' column with its average
df['LoanAmount'].fillna(df['LoanAmount'].mean(), inplace=True)

# Impute missing values in the 'Loan_Amount_Term' column with its average
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean(), inplace=True)

# Impute missing values in the 'Credit_History' column with '1'
df['Credit_History'].fillna(1, inplace=True)

# Verify if all missing values are handled
print(df.isnull().sum())

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dataset_name         0
dtype: int64

C:\Users\Bruce Mphekgwane\AppData\Local\Temp\ipykernel_40096\3098393254.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Dependents'].fillna('0', inplace=True)
C:\Users\Bruce Mphekgwane\AppData\Local\Temp\ipykernel_40096\3098393254.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Self_Employed'].fillna('No', inplace=True)
C:\Users\Bruce Mphekgwane\AppData\Local\Temp\ipykernel_40096\3098393254.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LoanAmount'].fillna(df['LoanAmount'].mean(), inplace=True)
C:\Users\Bruce Mphekgwane\AppData\Local\Temp\ipykernel_40096\3098393254.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean(), inplace=True)
C:\Users\Bruce Mphekgwane\AppData\Local\Temp\ipykernel_40096\3098393254.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Credit_History'].fillna(1, inplace=True)

In [21]:
# Additional statistics for numerical columns
numerical_cols = ['LoanAmount', 'Loan_Amount_Term']
print("\nSummary statistics for numerical columns:")
print(df[numerical_cols].describe())

Summary statistics for numerical columns:
       LoanAmount  Loan_Amount_Term
count  734.000000        734.000000
mean   136.132597        342.537396
std     60.904453         64.576271
min     28.000000          6.000000
25%    101.000000        360.000000
50%    126.000000        360.000000
75%    157.750000        360.000000
max    550.000000        480.000000

In [23]:
# Define the file path
filepath = 'C:/Users/Bruce Mphekgwane\Downloads/archive/test.csv'  # Replace with the actual path to your CSV file

# Load the CSV file into a DataFrame
df_Test = pd.read_csv(filepath)

# Define the file path
filepath2 = 'C:/Users/Bruce Mphekgwane\Downloads/archive/train.csv'  # Replace with the actual path to your CSV file

# Load the CSV file into a DataFrame
df_Test2 = pd.read_csv(filepath)

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:8: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:8: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Bruce Mphekgwane\AppData\Local\Temp\ipykernel_40096\3824755984.py:2: SyntaxWarning: invalid escape sequence '\D'
  filepath = 'C:/Users/Bruce Mphekgwane\Downloads/archive/test.csv'  # Replace with the actual path to your CSV file
C:\Users\Bruce Mphekgwane\AppData\Local\Temp\ipykernel_40096\3824755984.py:8: SyntaxWarning: invalid escape sequence '\D'
  filepath2 = 'C:/Users/Bruce Mphekgwane\Downloads/archive/train.csv'  # Replace with the actual path to your CSV file

In [24]:
# Feature engineering for missing values

# For 'Gender', create a new category 'Other' for missing values
df['Gender'] = df['Gender'].fillna('Other')

# For 'Dependents', create a new category '-1' for missing values
df['Dependents'] = df['Dependents'].fillna('-1')

# For 'Self_Employed', create a new category 'Other' for missing values
df['Self_Employed'] = df['Self_Employed'].fillna('Other')

# For 'LoanAmount', assign 0 to missing values
df['LoanAmount'] = df['LoanAmount'].fillna(0)

# For 'Loan_Amount_Term', assign 0 to missing values
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(0)

# Verify if all missing values are handled
print(df.isnull().sum())

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dataset_name         0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            734 non-null    object
 1   Gender             734 non-null    object
 2   Married            734 non-null    object
 3   Dependents         734 non-null    object
 4   Education          734 non-null    object
 5   Self_Employed      734 non-null    object
 6   ApplicantIncome    734 non-null    int64
 7   CoapplicantIncome  734 non-null    int64
 8   LoanAmount         734 non-null    float64
 9   Loan_Amount_Term   734 non-null    float64
 10  Credit_History     734 non-null    float64
 11  Property_Area      734 non-null    object
 12  dataset_name       734 non-null    object
dtypes: float64(3), int64(2), object(8)
memory usage: 74.7+ KB

In [27]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,734.000000,734.000000,734.000000,734.000000,734.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.839237
std,4907.334539,2332.639310,60.904453,64.576271,0.367563
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2862.000000,0.000000,101.000000,360.000000,1.000000
50%,3786.000000,1025.000000,126.000000,360.000000,1.000000
75%,5061.000000,2437.250000,157.750000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [32]:
df=df.drop_duplicates()
print (f"Removing Deduplicates:{df.shape}")

Removing Deduplicates:(734, 13)